body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400, 500;
  color: #2b283a;
  margin: 0;
}

/* typography */

h1 {
  color: whitesmoke;
  font-size: 36px;
}

h2 {
  margin-top: 0;
}

h3 {
  color: #d0aaff;
  font-size: 20px;
}

h1, h3 {
  margin: 0;
}

/* links */

a {
  color: #ef5839;
  text-decoration: underline dotted ;
}

a:hover, a:active {
  color: #d4b44c;
}

/* layout*/

header, .second-section {
  background-color: #5f29a3;
}

.second-section {
  color: whitesmoke;
}

.container, .secondcontainer {
  width: 620px;
  margin: 0 auto;
}

.image-wrapper {
  display: flex;
  justify-content: space-between;
}

footer {
  text-align: center;
  color: #5f29a3;
}

header, section, footer {
  padding: 45px 0px
}

/* images */

.sneaker-img {
  width: 100%;
}

.featureimage {
  width: 300px;
  border-radius: 4.6px;
}
